/* Koko sivun sisältö */
body {
  font-family: Poppins;
  margin: auto;
  justify-items: center;
  background-color: #fbfbf6;
}

/* Globaalit tyylit */
button {
  width: 100px;
  font-weight: bold;
  font-size: medium;
  color: #fbfbf6;
  background-color: rgb(44, 105, 210);
  padding: 5px;
  margin-top: 10px;
  border-radius: 50px;
  border: 1px solid rgb(120, 120, 120);
}
button:hover {
  background-color: rgb(120, 120, 120);
}

input, select {
  width: 250px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid rgb(203, 203, 203);
}

li {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Lista-elementin poistopainike */
li button {
  height: 100%;
  width: 20px;
  background-color: transparent;
  padding: 0;
  margin: 0 0 0 5px;
  border-radius: 0;
  border: none;
}
li button:hover {
  background-color: transparent;
}

/* Poistopainikkeen ikoni */
.delete-icon {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50px;
}
.delete-icon:hover {
  background-color: rgb(120, 120, 120);
}

/* Varauksen lomake */
.reservation-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100%;
  padding-bottom: 30px;
  background-color: #ffcaff;
  border-bottom: 0.5px solid rgb(120, 120, 120);
}

/* Varauslomake, syöttö/dropdown-valinta -kentät */
.reservation-form input, select {
  margin-bottom: 10px;
  background-color: #fbfbf6;
}

/* Varauslomake, tekstielementit */
.reservation-form p {
  margin: 0px;
}

/* Varausten listakomponentti */
.reservation-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Varausten listakomponentti, valintakenttä */
.reservation-list select {
  background-color: rgb(240, 240, 240);
}

/* Notifikaation pohjakomponentti */
#alert-container {
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 1000;
  margin-top: 5px;
}

/* Notifikaation komponentti (success/error) */
.custom-alert {
  display: flex;
  gap: 10px;
  align-items: center;
  color: #fbfbf6;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0.5px 0.5px rgb(36, 36, 36);
  font-weight: 500;
  opacity: 1;
  transition: opacity 0.1s ease;
}

/* Notifikaation virhekomponentti */
.custom-alert.error {
  background-color: #eb7062;
  border: 3px solid #e22f1a;
}

/* Notifikaation onnistumiskomponentti */
.custom-alert.success {
  background-color: #8a9c8c;
  border: 3px solid #388641;
}

/* Notifikaation komponentti, ikoni */
.alert-icon {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}

/* Notifikaation komponentti (varmistusviesti) */
.custom-confirm {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  color: rgb(36, 36, 36);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0.5px 0.5px rgb(36, 36, 36);
  font-weight: 500;
  transition: opacity 0.1s ease;
  background-color: #f9edcd;
  border: 3px solid #f2bb32;
}

/* Notifikaation komponentti (varmistusviesti), sisältökomponentti (ylempi) */
.confirm-content {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Notifikaation komponentti (varmistusviesti), painikekomponentti (alempi) */
.confirm-buttons {
  display: flex;
  align-items: center;
  gap: 5px;
}
