body {
  font-family: Poppins;
  margin: auto;
  justify-items: center;
  background-color: #fbfbf6;
}

button {
  width: 100px;
  font-weight: bold;
  font-size: medium;
  color: #fbfbf6;
  background-color: rgb(44, 105, 210);
  padding: 5px;
  margin-top: 10px;
  border-radius: 50px;
  border: 1px solid rgb(120, 120, 120);
}
button:hover {
  background-color: rgb(120, 120, 120);
}

input, select {
  width: 250px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid rgb(203, 203, 203);
}

li {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

li button {
  height: 100%;
  width: 20px;
  background-color: transparent;
  padding: 0;
  margin: 0 0 0 5px;
  border-radius: 0;
  border: none;
}
li button:hover {
  background-color: transparent;
}

.delete-icon {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50px;
}
.delete-icon:hover {
  background-color: rgb(120, 120, 120);
}

.reservation-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100%;
  padding-bottom: 30px;
  background-color: #ffcaff;
 
  
}

.reservation-form input, select {
  margin-bottom: 10px;
  background-color: #fbfbf6;
}

.reservation-form p {
  margin: 0px;
}

.reservation-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reservation-list select {
  background-color: rgb(240, 240, 240);
}
